<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>团购网后台管理系统</title>
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/resources/views/assets/img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/resources/views/assets/i/app-icon72x72@2x.png">
    <script src="/resources/views/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/resources/views/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/resources/views/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="/resources/views/assets/css/app.css">
    <script src="/resources/views/assets/js/jquery.min.js"></script>
</head>

<body data-type="index">
<script src="/resources/views/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <a href="javascript:;">团购网后台管理系统</a>
        </div>
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 搜索 -->
            <div class="am-fl tpl-header-search">
                <form class="tpl-header-search-form" action="javascript:;">
                    <button class="tpl-header-search-btn am-icon-search"></button>
                    <input class="tpl-header-search-box" type="text" placeholder="搜索内容...">
                </form>
            </div>
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href="javascript:;">欢迎你, <span>管理员</span> </a>
                    </li>

                    <!-- 退出 -->
                    <li class="am-text-sm">
                        <a href="javascript:;">
                            <span class="am-icon-sign-out"></span> 退出
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- 侧边导航栏 -->
    <div class="left-sidebar">
        <!-- 用户信息 -->
        <div class="tpl-sidebar-user-panel">
            <div class="tpl-user-panel-slide-toggleable">
                <div class="tpl-user-panel-profile-picture">
                    <img src="/resources/views/assets/img/user04.jpg" alt="">
                </div>
                <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>

          </span>
                <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
            </div>
        </div>

        <!-- 菜单 -->
        <ul class="sidebar-nav">
            <li class="sidebar-nav-heading">后台管理 <span class="sidebar-nav-heading-info"> 常用管理</span></li>
            <li class="sidebar-nav-link">
                <a href="/productionCategory"  class="active" target="mainFrame">
                    <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 商品分类管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="/orderInfo" target="mainFrame">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 订单管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="/productInfo" target="mainFrame">
                    <i class="am-icon-calendar sidebar-nav-link-logo"></i> 商品管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="/sellers" target="mainFrame">
                    <i class="am-icon-calendar sidebar-nav-link-logo"></i> 商家管理
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="javascript:void(0);">
                    <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 统计分析
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="javascript:void(0);">
                    <i class="am-icon-tv sidebar-nav-link-logo"></i> 用户管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="javascript:void(0);">
                    <i class="am-icon-eraser sidebar-nav-link-logo"></i> 404错误
                </a>
            </li>
        </ul>
    </div>
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <iframe src="/productionCategory" style="width: 100%;height: 78rem;" name="mainFrame" id="mainFrame"></iframe>
    </div>
    <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">TGAdmin提示信息</div>
            <div class="am-modal-bd" id="MyalertBd">
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>
</div>
<script src="/resources/views/assets/js/amazeui.min.js"></script>
<script src="/resources/views/assets/js/amazeui.datatables.min.js"></script>
<script src="/resources/views/assets/js/dataTables.responsive.min.js"></script>
<script src="/resources/views/assets/js/app.js"></script>
</body>

</html>