<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
<main>
    <!--Mask-->
    <!--  <div class="view hm-black-strong">-->
    <div class="container container_body">
        <div class="row">
            <div class="col-sm-7">
                <div class="embed-responsive embed-responsive-16by9 wow fadeIn">
                    <!--如果需要自动播放视频，将下面preload改为autoplay即可-->
                    <video class="embed-responsive-item" controls="" preload="" id="mvplayer" name="media"
                           poster="">
                        <source src="http://123.207.83.185/imgDataBases/Never_Back_Down.mp4" type="video/mp4">
                    </video>
                </div>
                <div>
                    Two Steps From Hell，又名地狱咫尺， 是一家专业的音乐公司，制作电影广告音乐以及电影预告音乐,作品以电影预告片配乐见长，风格就是两个字：气势。
                    <!--Elegant-->
                    <button type="button" class="btn btn-elegant detailsBtn">了解更多</button>
                </div>
            </div>

            <div class="col-sm-5">
                <ul class="list-group special-color-dark wow fadeInDown" id="top-list">
                    <!-- <li class="list-group-item special-color-dark view overlay hm-white-slight">已经由js动态生成数据并绑定</li>-->
                </ul>
            </div>
        </div>

        <blockquote class="lead blockquote-reverse"><button type="button" class="btn btn-primary">更多</button></blockquote>
        <hr>
        <!--First row-->
        <div class="row" id="renderAlubum">
        </div>
        <!--/.First row-->
        <hr>
    </div>
    <!--</div>-->
    <!--/.Mask-->
</main>
<!-- /Start your project here-->


<script>
    $(document).ready(function () {
        $(function () {
            $.ajax({
                type: 'GET',
                url: '/getTopListdata',
                dataType: 'json',
                success: function (msg) {
                    data2Elements4Music(msg);
                }
            });
            $.getJSON("/getTopAlbumsData", function (data) {
                data2Elements4Albums(data);
            });
            function data2Elements4Music(datalists) {
                for (var i = 0; i < datalists.length; i++) {
                    var span = "<span class='tag bg-primary label-pill pull-xs-right'>" + datalists[i].s_visitedTotal + "</span>";
                    var a = "<a href='#!'><div class='mask'></div></a>";
                    var li = "<li data-songurl='" + datalists[i].s_surl + "'data-id='" + datalists[i].s_songid + "' data-sCoverUrl='" + datalists[i].s_scover + "' data-stitle='" + datalists[i].s_title + "'class='list-group-item special-color-dark view overlay hm-white-slight'>" + span + datalists[i].s_title + a + "</li>";
                    $('#top-list').append(li);
                }
            }

            function data2Elements4Albums(datalists) {
                for (var i = 0; i < datalists.length; i++) {
                    var imgdiv = "<div class='view overlay hm-white-slight'>" +
                        "<img src='http://" + datalists[i].s_aCoverUrl + "' class='img-fluid' alt='" + datalists[i].s_atitle + "'>" +
                        "<a href='#!'><div class='mask waves-effect waves-light'></div></a></div>";
                    var content = "<div class='card-block'> <h4 class='card-title'>" + datalists[i].s_atitle + "</h4>" +
                        "<p class='card-text'>" + datalists[i].s_adescp + "</p>" +
                        "<div class='read-more'> <a href='#!' class='btn btn-primary waves-effect waves-light detailsBtn' data-albumId='" + datalists[i].s_aid + "'>　开始了解</a> </div> </div>";
                    var div = "<div class='col-md-3 col-xs-6'><div class='card'>" + imgdiv + content + "</div></div>";
                    $('#renderAlubum').append(div);
                }
            }

            /*当用户点击专辑时，将专辑id传递给data-albumId，用于传递数据给专辑详情页*/
            $("#renderAlubum").on('click', ".btn", function () {
                var id = $(this).attr("data-albumId");
                $.tjAppJs.updateAlbumId(id);
                $.tjAppJs.loadHtml2div("/Home/views/albumDetails.html");
            });

            $('#top-list').on('click', '>li', function () {
                songtitle = $(this).attr("data-stitle");
                songurl = $(this).attr("data-songurl");
                songid = $(this).attr("data-id");
                cover = $(this).attr("data-sCoverUrl");
                console.log("url:" + $(this).attr("data-songurl") + "  " + "id:" + $(this).attr("data-id"));
                $.tjAppJs.checkIsFav(songid);
                $.tjAppJs.updatePlayingMusicId(songid);
                $('#playerBarMusicCover').attr("src", "http://" + cover);
                $.SpittrJqplayer.itemPlay({
                    id: songid,
                    title: songtitle,
                    artist: null,
                    mp3: "http://" + songurl,
                    poster: "http://" + cover
                });
                $.post("/addUpVisiNum", {songid: songid}, function (data) {
                    console.log("addUpVisiNum:" + data);
                });
            });
        });
    });
</script>
</body>

</html>